.main
    +flex(column, flex-start, stretch)
    height: 100%

.main-pane
    +flex(row, flex-start, flex-start)
    flex-grow: 1
    margin: .7rem
    +row-margin(.8em)
//


.entry-pane
    align-self: stretch
    min-width: 400px
//

.user-pane
    min-height: 400px
    min-width: 400px
//

$mobile: 'only screen and (orientation: portrait)'

@media #{$mobile}
    .user-pane, .entry-pane
        flex-grow: 1

    .user-pane
        height: 50%

    html
        font-size: 45px
//
