.main
    +flex(column, flex-start, stretch)
    height: 100%

.main-pane
    +flex(row, flex-start, flex-start)
    flex-grow: 1
    margin: .7rem
    +row-margin(.8em)
//


.entry-pane
    align-self: stretch
    min-width: 400px
//

.user-pane
    min-height: 400px
    min-width: 400px
//


@media #{$is-mobile}
    .user-pane, .entry-pane
        flex-grow: 1
        min-width: 0
        min-height: 0

    .user-pane
        align-self: stretch

    .main-pane
        margin: 0.35rem

    html
        font-size: 14px
//
