@import generic/media-queries
@import generic/colors
@import generic/common
@import generic/buttons

@import components/specs
@import components/price-label
@import components/entry-list
@import components/header
@import components/entry-pane
@import components/user-list
@import components/user-pane
@import components/tab


body
    background-color: $background-color
    color: $text-color
    font-size: 1rem
    font-family: 'Helvetica'
    cursor: default
    margin: 0
    height: 100%
//

#root
    height: 100%

html
    font-size: 16px
    height: 100%
//


@import layout
