
.dialog-container
    +flex(row, center, center)
    position: absolute
    height: 100%
    width: 100%
    background-color: rgba(black, 0.02)

    .dialog-window
        +pane
        box-shadow: 1px 2px 7px 0px rgba(black, .2)

        @media #{$is-mobile}
            margin: 1.5em
//


.confirm-dialog
    font-size: 1.1rem

    @media #{$is-mobile}
        font-size: .9rem
//



.confirm-dialog
    +flex(column)
    margin: 1.5em
    margin-bottom: 1em

    &>.content
        margin-bottom: .8em

        h1
            margin: 0
            font-size: 1.5em
            margin-bottom: .5em

        div
            margin-top: .3em


    &>.buttons
        +flex(row, flex-end, center)
        align-self: stretch

        .yes
            +button-ghost($green-add)
        .no
            +button-ghost($red-cancel)
//
