
.dialog-container
    +flex(row, center, center)
    position: absolute
    height: 100%
    width: 100%
    background-color: rgba(black, 0.02)

    .dialog-window
        +pane
        padding: 10em
        box-shadow: 1px 2px 7px 0px rgba(black, .2)
//
