
.dialog-container
    +flex(row, center, center)
    position: absolute
    height: 100%
    width: 100%
    background-color: rgba(black, 0.02)

    .dialog-window
        +pane
        box-shadow: 1px 2px 7px 0px rgba(black, .2)

        @media #{$is-mobile}
            margin: 1.5em
//


.confirm-dialog
    font-size: 1.1rem

    @media #{$is-mobile}
        font-size: .9rem
//


.confirm-dialog > .buttons
    .yes
        +button-ghost($green-add)
    .no
        +button-ghost($red-cancel)


.confirm-dialog:not(.condensed)
    +flex(column)
    margin: 1.5em
    margin-bottom: 1em

    &>.content
        margin-bottom: .8em

        h1
            margin: 0
            font-size: 1.5em
            margin-bottom: .5em

        div
            margin-top: .3em


    &>.buttons
        +flex(row, flex-end, center)
        align-self: stretch
//


.confirm-dialog.condensed
    +flex(row, flex-start, center)
    align-self: stretch
    font-size: .9rem
    padding: .25em 0
    padding-left: .7em
    color: #777


    &>.buttons
        margin-left: 1em
        +flex(row, flex-end, center)
        flex-grow: 1
//
