
.entry-list
    +list

    .price-label
        font-size: 1.3em
        flex-grow: 1
//


.entry-list-row
    +row()
    +row-margin(.1em)
    font-size: 1rem

    .delete-label
        +button-icon($red-remove, .8em)
