
.entry-pane
    +flex(column, flex-start, stretch)
    +pane
    height: 100%
    min-width: 400px

    .entry-list
        flex-shrink: 1
        border-top: $BORDER_MEDIUM
    //
//


.entry-header
    +flex(row)
    +row-margin(.5em)
    flex-shrink: 0
    padding: .5rem 1rem

    .label
        flex-grow: 1
        color: $text-color
        font-size: 2rem
        font-family: Helvetica
    //

    button
        &.edit
            +button-icon($gray-edit)
        &.clear
            +button-icon($red-remove)
        &.cancel
            +button-ghost($red-cancel)
//


.entry-inputbox
    +flex
    border-top: $BORDER_HEAVY

    input
        flex-grow: 1
        border-radius: 0
        border: none
        outline: none
        font-size: 1.2em
    //

    button
        +button-concrete($green-add)
        align-self: stretch
        border-radius: 0
        padding: .5em
//
