.spec-label
    +flex(row)
    font-size: 0.8rem
    background-color: #d2d2d2
    border-radius: 3px
    padding: 3px 6px
    margin: 0px 5px


.id-label
    color: white
    background-color: #777
    border-radius: 2px
    padding: 0px
    margin: 2px 3px
