.tab-selector
    +flex(row)
    align-items: baseline
    flex-shrink: 0
    background-color: white
    border-bottom: $BORDER_HEAVY
//


.tab
    font-size: 1.15rem
    +flex(row, center, center)
    flex-grow: 1
    flex-shrink: 0
    padding: .6em
    transition: color ease-in-out .3s

    &.selected
        color: $primary-color
//
