
.user-list
    +flex(column)
    flex-grow: 1
    margin: 0
    padding: 0
    border-top: $BORDER-MEDIUM
//


.user-list-row
    +row()
    +row-margin(.4em)

    .name
        text-transform: capitalize

    .share
        +flex(row, flex-end)
        flex-grow: 1
//
